In [1]:
import pandas as pd
import re
import numpy as np

In [2]:
MXM_DATASET_TEST = 'mxm_dataset_test.txt'
MXM_DATASET_TRAIN = 'mxm_dataset_train.txt'
words = []

with open(MXM_DATASET_TRAIN, mode='r', encoding="utf-8") as f:
    for line in f:
        # check for comments
        if line.startswith('#') or line.startswith('T'):
            continue
        # check file for more info on file format
        try:
            split = line.strip(' %\n').split(',')
            words.append(split)

        except Exception as exc:
            logger.warning(exc)

In [3]:
count = 0
counts = []

with open(MXM_DATASET_TRAIN, mode='r', encoding="utf-8") as f:
    for line in f:
        # check for comments
        if line.startswith('#') or line.startswith('%'):
            continue
        # check file for more info on file format
        try:
            split = line.strip().split(',')
            counts.append(split)
            count += 1

        except Exception as exc:
            logger.warning(exc)
            
words = words[0]

In [4]:
p = re.compile('(\d*):(\d*)')
rows = len(counts)
indexed_counts = np.zeros((rows, 5000), dtype='int')
msd_id = []
mxm_id = []

for i in range(rows):
    for item in counts[i]:
        if item == counts[i][0]:
            msd_id.append(item)
        elif item == counts[i][1]:
            mxm_id.append(item)
        else:
            m = p.match(item)
            index = int(m.group(1))
            count = m.group(2)
            indexed_counts[i][index-1] = count

In [5]:
word_index = range(1, 5001, 1)
df_msd = pd.DataFrame(msd_id, columns = ['msd_id'])
df_mxm = pd.DataFrame(mxm_id, columns = ['mxm_id'])
df_counts = pd.DataFrame(indexed_counts, columns = words)

In [6]:
combo = pd.concat([df_msd, df_counts, df_mxm], axis=1)
combo.head()

,msd_id,i,the,you,to,and,a,me,it,not,...,motivo,bake,insist,wel,santo,pe,gee,colleg,kad,mxm_id
0,TRAAAAV128F421A322,6,4,2,2,5,3,1,1,0,...,0,0,0,0,0,0,0,0,0,4623710
1,TRAAABD128F429CF47,10,0,17,8,2,2,1,3,2,...,0,0,0,0,0,0,0,0,0,6477168
2,TRAAAED128E0783FAB,28,15,2,12,22,2,2,4,2,...,0,0,0,0,0,0,0,0,0,2516445
3,TRAAAEF128F4273421,5,4,3,2,1,11,0,0,4,...,0,0,0,0,0,0,0,0,0,3759847
4,TRAAAEW128F42930C0,4,0,0,5,7,2,4,0,1,...,0,0,0,0,0,0,0,0,0,3783760